.Container {
  display: flex;
  min-height: 90vh;
  justify-content: center;
  align-items: center;
}

main {
  min-height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Glass {
  min-height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Title {
  flex: 1;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Quiz {
  flex: 2;
  width: 80vw;
  display: grid;
  justify-content: space-evenly;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.btn {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  height: 150px;
  width: 200px;
  font-size: 25px;
}

.btn:hover {
  background: black;
  color: white;
  cursor: pointer;
}
