.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 99vw;
  margin: 0;
  padding: 0;
  /* background: silver; */
}

.NavBar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  list-style: none;
}

.NavBar h1 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.NavBar h3 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.NavBar h1:hover {
  background: #8a8d91;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.NavBar h3:hover {
  background: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

.NavBar li {
  padding: 10px;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.NavBar li:hover {
  background: #8a8d91;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
